<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.collage.campus.mapper.orderMapper">


    <resultMap id="BaseResultMap" type="edu.collage.campus.entity.OrderDetailsView">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="timeslot" column="timeSlot" jdbcType="INTEGER"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="qrcode" column="qrcode" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"
                typeHandler="edu.collage.campus.config.JsonNodeTypeHandler"/>
        <result property="activity" column="activity" jdbcType="VARCHAR"
                typeHandler="edu.collage.campus.config.JsonNodeTypeHandler"/>
    </resultMap>

    <select id="getUserOrder" resultMap="BaseResultMap">
        select *
        from order_details_view
        where 1 = 1
        <if test="date != null">
            and date = #{date}
        </if>
        <if test="username != null">
            and username = #{username}
        </if>
        <if test="phone != null">
            and phone = #{phone}
        </if>
    </select>

    <resultMap id="orderDetailForJSON" type="edu.collage.campus.entity.OrderDetailJSONObj">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="DATE"/>
        <result property="endTime" column="end_time" jdbcType="DATE"/>
        <result property="qrCode" column="qr_code" jdbcType="VARCHAR"/>
        <result property="timeSlot" column="timeSlot" jdbcType="INTEGER"/>
        <result property="organization" column="organization" jdbcType="VARCHAR"/>
        <result property="user" column="user" jdbcType="VARCHAR"
                typeHandler="edu.collage.campus.config.JsonNodeTypeHandler"/>
        <result property="activities" column="activities" jdbcType="VARCHAR"
                typeHandler="edu.collage.campus.config.JsonNodeTypeHandler"/>
    </resultMap>


    <select id="getUserOrderDetailForJSON" resultMap="orderDetailForJSON">
        select distinct ROW_NUMBER() OVER ()                           AS id,
                        start_time,
                        end_time,
                        qr_code,
                        timeSlot,
                        organization,
                        user,
                        JSON_ARRAYAGG(JSON_OBJECT('id', a2.id, 'title', a2.title, 'desc', a2.desc_, 'price',
                                                  a2.price, 'images',ai.image_url)) as activities
        FROM (SELECT b.start_time,
                     b.end_time,
                     b.qr_code,
                     b.timeSlot,
                     u.organization,
                     u_a.id                                                                                AS activity_id,
                     json_object('id', u.id, 'username', u.username, 'phone', u.phone, 'enabled', enabled) as `user`
              FROM booking b
                       JOIN users u ON b.user_id = u.id
                       JOIN users__for_activity u_a ON u_a.date = b.date AND u_a.user_id = b.user_id
                       left JOIN activity a ON u_a.activity_id = a.id
              WHERE b.date = #{date}
                AND (u.username = #{username} OR u.phone = #{phone})) AS t4
                 left join users__for_activity ua on ua.id = t4.activity_id
                 left join activity a2 on ua.activity_id = a2.id
                 left join activity_images ai on a2.id = ai.activity_id
        group by t4.start_time, t4.end_time, t4.qr_code, t4.timeSlot, t4.organization, t4.user
        order by t4.timeSlot
    </select>


    <sql id="Base_Column_List">
        id,timeSlot,date,
        qrcode,avatar,activity
    </sql>

</mapper>